html {
    height: 100%;
    background: linear-gradient(135deg, #faedcd, #ccd5ae, #fefae0);
    background-attachment: fixed;
}

body {
    font-family: 'Avenir Light', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background: transparent;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(45deg, #f8edeb, #f0efeb);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.logo-link:hover {
    text-decoration: none;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
    display: flex;
}

.logo-img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.about-btn, .about-btn:link, .about-btn:visited {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-right: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ccd5ae;
    color: black;
    cursor: pointer;
    font-family: 'Avenir Light', 'Helvetica', sans-serif;
    transition: background-color 0.2s;
}

.about-btn:hover {
    background-color: #b4c09a;
}

.section {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
}

.intro {
    padding: 50px;
    max-width: 800px;
    margin: 50px auto;
    color: rgba(0, 0, 0, 0.8);
}

.intro h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}


.content-section {
    margin-top: 40px;
    border-radius: 16px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

header h2 {
    font-size: 28px;
    margin: 0;
}

header p {
    font-size: 16px;
    margin: 10px 0 0;
    color: rgba(0, 0, 0, 0.6);
}

section p {
    line-height: 1.6;
    margin-bottom: 20px;
}

footer p {
    margin-top: 30px;
    font-weight: bold;
}

a {
    color: black;
    text-decoration: underline;
    transition: color 0.2s;
}

a:hover {
    color: #333;
}

.team-image {
    width: 40%;
    max-width: 600px;  /* Adjust based on your preferred width */
    display: block;
    margin: 30px auto;  /* Centers the image */
    border-radius: 12px; /* Gives a rounded edge to the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a slight shadow */
}

.team-desc {
    text-align: justify;
}